/* CECI EST UN COMMENTAIRE */
/* SYNTAXE GENERALE 
    
    selecteurBaliseHtml {
        <propriété>: valeur;
        <propriété2>: valeur;
    }
    
    .selecteurClass {
        <propriété>: valeur;
    }
    
    #selecteurId {
        <propriété>: valeur;
    }

*/

/* Exemple absurde */
p {
    color: rgb(203, 0, 104);
    color: rgba(203, 0, 104, .25);
    color: #CB0068;
    color: #C00;

     /* #0000CC */
    /*color: #CC0000;
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, .5);*/
}
#p {
    color: #0C0;
}
.p {
    color: #00C;
}

/* Valeurs multiples */
body {
    margin: 20px 40px 100px 45px;
    /*background-image: url('../imgs/im-batman.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background: url('../imgs/im-batman.jpg') no-repeat center/cover;
}


    
