@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}
figure {
    /*outline: 1px solid #C00;*/
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

figure img {
    margin-left: -120px;
    margin-top: -80px;
    transition: all .3s;
}

figcaption {
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    color: #FFF;
    line-height: 200px;
    font-family: 'Brandon Grotesque';
    font-size: 24px;
    opacity: 0;
    transition: all .3s;
}

figure:hover figcaption {
    opacity: 1;
    cursor: pointer;
}

figure:hover img {
    transform: rotateZ(-20deg) scale(1.2);
}
